.todo {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
.tasksListTitle {
  padding: 10px 0 10px 10px;
  color: #b9237e;
  text-transform: uppercase;

  div > h6 {
    font-weight: 600;
    text-align: center;
    font-size: 24px;
  }
}

.tasksListWrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  min-height: 350px;
  padding: 15px 10px 20px;
}

.tasksList {
  flex-grow: 1;
  padding: 10px 0;
}

.form {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  & > div{
    width: 80%;
  }

  & > button {
    width: 15%;
  }
}

.filterTasks {
  padding-top: 20px;
}