.inputWrapper {
  position: relative;
}

.errorMessage {
  position: absolute;
  color: #cc1439;
  width: 100%;
  padding: 5px;
}

.label {
  position: absolute;
  top: -25px;
  left: 5px;
  color: #4c8dff
}