.inputWrapper {
  position: relative;
}

.errorMessage {
  position: absolute;
  color: #cc1439;
}

.label {
  position: absolute;
  top: -25px;
  left: 5px;
  color: #4c8dff
}

//.input.error{
//  color: red;
//  border: 1px solid red;
//  border-radius: 4px ;
//}

.inputWrapper.error{
  color: #cc1439;
  //border: 1px solid #cc1439;
  border-radius: 4px ;
}